<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="PHP Developers contest">
	<title>PHP Developers contest</title>
	<link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<h1>Привет мир!</h1>
	<h2>Привет мир!</h2>
	<h3>Привет мир!</h3>
	<h4>Привет мир!</h4>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>	
<script src="/js/main.js"></script>
</body>
</html>